/**
 * Moodle Print Style sheet
 *
 * @project:    moodle-print-styles
 * @file:       /print.css
 * @author:     Adrian Gould <Adrian.Gould@polytechnic.wa.edu.au>
 * @date:       2015/11/10
 * @version:    1.0
 * @copyright:  Copyright 2015 Polytechnic West,
 *              Released under the Creative Commons Share Alike license
 *
 * History:
 * v 1.0    2015/11/10  Initial version
 */

@media print {

    html, body, #page-wrap {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        left: 0;
        right: 0;
        margin: 1em auto;
        background: none;
    }

    .site-menu, .block_course_menu, .block_settings, #headerbanner,
    #region-pre, #region-post, #custommenu, #headermenu, #logininfo,
    .navbar, #footer-breadcrumbs, #dock {
        display: none;
    }

    #page-content, #page-content #region-main-wrap, #region-main,
    #region-main-box, #region-content, #page-content #region-post-box {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        left: 0;
        right: 0;
        float: none;
        clear: both;
    }

    table, tr, td, th, tbody, thead, tfoot {
        border: 1px solid #999;
        background: rgba(255, 255, 255, 0.99);
    }

    tr, th {
        border: 1px solid #999;
        background: rgba(0, 0, 0, 0.05);
    }

    .coursetitle-banner, .coursetitle-label, .coursetitle-banner h1,
    #region-main, .region-content {
        color: #111;
        background: none;
        box-shadow: none;
    }

}
